    <footer>
            <a href="https://novnov111.github.io/mmerino4.github.io/">Webpage</a> |
            <a href="https://github.com/novnov111">GitHub</a> |
            <a href="https://github.com/novnov111/mmerino4.github.io/tree/main">GitHub.io</a> |
            <a href="https://www.freecodecamp.org/mmerino4">freeCodeCamp</a> |
            <a href="https://www.codecademy.com/profiles/michaelmerino11">Codecademy</a> |
            <a href="https://www.linkedin.com/in/michael-undefined-489778436/">LinkedIn</a> |
        </nav>

        <p>Certified in HTML and CSS by freeCodeCamp</p>

        <a href="michaelmerinodesigns.com/index.html">Designed by Michael Merino 2026</a>
    </footer>